<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="wcf.Service" behaviorConfiguration="MyServiceTypeBehaviors">
	      <endpoint address="http://localhost:801"
                  binding="wsHttpBinding"
                  contract="wcf.IService" />
      </service>
    </services>
         <behaviors>
    <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
            <serviceMetadata httpGetEnabled="true" />
        </behavior>
    </serviceBehaviors>
</behaviors>
    
  </system.serviceModel>


</configuration>
